.h-wrapper {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  z-index: 1000; /* Ensure navigation bar is on top */
  position: sticky;
  top: 0;
  background-blend-mode: screen;
}
.h-menu {
  position: fixed;
  top: 40px; /* Adjust as needed */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  height: 30px; /* Adjust the height */
  width: 100%;
  line-height: 30px; /* Center vertically */
 /* Adjust as needed */
  background-color: rgba(63, 63, 63, 0.8); /* Adjust transparency */
  border-radius: 15px; /* Adjust border radius */
  display: flex; /* Ensure items are aligned in a row */
  align-items: center; /* Center items vertically */
}

.h-menu > * {
  margin-right: 200px; /* Adjust space between items */
}

.h-menu > *:last-child {
  margin-right: 0; /* Remove margin from last item */
}

.menu-icon {
  position: absolute;
  top: 5px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
}

@media (max-width: 768px) {
  .menu-icon {
    display: flex;
  }
}
